p {
    font-size: larger;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #bb8417;
    max-width: 60%;
    min-width: 40%;
    margin: auto;
}

body {
    background-color: #053f05;
}

h1 {
    font-family: "Zilla Slab", serif;
    font-style: italic;
    font-size: auto;
    text-align: center;
    color: #bb0e0e;
    border: 5px dashed black;
    background-color: #3885d3;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin: auto;
}

h2 {
    color: #22c2a7;
    font-size: auto;
    border: 5px dashed black;
    text-align: center;
    background-color: #553209;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin: auto;
}

ul>li {
    color: #00ff00;
}

h2+li>a[href] {
    color: #640577;
    font-family: fantasy;
    font-size: 120%;
}

img {
    display: block;
    width: 30%;
    min-width: 20%;
    margin: 10px auto;
}

footer {
    font-style: italic;
}

/*styles for the nav menu*/

#nav_menu {
    width: auto;
    border: 5px solid black;
    background-image: linear-gradient(to right, #134149 0%, #ffffff 50%, #3a060a 100%);
    display: flex;
    justify-content: space-evenly;
}

#nav_menu ul {
    list-style-type: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

#nav_menu ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

#nav_menu ul li a {
    font-weight: bolder;
    color: blue;
    border: 5px solid rgb(140, 0, 255);
    background-color: #00ff00;
    padding: 4px;
    margin: 4px;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul li:hover>ul {
    display: flex;
    flex-direction: column;
    padding: 1px;
    border: 5px solid black;
    background-color: gray;
}

#nav_menu>ul::after {
    content: "";
    display: block;
    clear: both;
}

/*styles for the footer*/

footer {
    font-size: larger;
    width: auto;
    border: 5px solid black;
    background-image: linear-gradient(to right, #134149 0%, #ffffff 50%, #3a060a 100%);
    display: flex;
    justify-content: space-evenly;
}

/* media queries */

@media only screen and (max-width: 980px) {

    #nav_menu ul {
        flex-direction: column;
    }
}