h1 {
    width: auto;
    padding: 25px;
    color: #0101a7;
}

h2 {
    padding: 10px;
    color: #24b9d3;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin: auto;
}

p {
    padding: 10px;
    font-weight: bolder;
}

body {
    background-image: linear-gradient(to right, #493613 0%, #072b07 50%, #493613 100%);
}

main {
    margin: 0 20px 10px;
    display: grid;
    grid-template: 300px 300px / 500px 500px;
    grid-gap: 10px 10px;
    align-self: center;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin: auto;
}

footer {
    clear: both;
    padding: 50px;
}

/* styles for the divisions */

div {
    background-image: linear-gradient(to top, #072b07 0%, #493613 40%,  #493613 60%, #072b07 100%);
    border: 5px solid black;
}



/*styles for the nav menu*/

#nav_menu {
    width: auto;
    border: 5px solid black;
    background-image: linear-gradient(to right, #134149 0%, #ffffff 50%, #3a060a 100%);
    display: flex;
    justify-content: space-evenly;
}

#nav_menu ul {
    list-style-type: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

#nav_menu ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

#nav_menu ul li a {
    font-weight: bolder;
    color: blue;
    border: 5px solid rgb(140, 0, 255);
    background-color: #00ff00;
    padding: 4px;
    margin: 4px;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul li:hover>ul {
    display: flex;
    flex-direction: column;
    padding: 1px;
    border: 5px solid black;
    background-color: gray;
}

#nav_menu>ul::after {
    content: "";
    display: block;
    clear: both;
}

/* media queries */

@media only screen and (max-width: 980px) {
    #nav_menu ul {
        flex-direction: column;
    }

    main {
        grid-template: 300px 300px 300px 300px / 500px;
    }
}